button{
    background-color: #1565C0;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    padding: 5px 10px;
}

button:hover{
    background-color: #81D4FA;
    cursor: pointer;
}