@charset "UTF-8";

header{
    font-size: 25px;
    padding: 2px;
    background-color: #81D4FA;
    color:white;
    font-weight: 300;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 99999999999999;
}

#userLogin{
    margin-top: 100px;
    padding: 20px;
}

#header-title{
    margin-left: 40px;
}

body{
    margin:0px;
}

*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
